*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(rgb(44, 175, 193),rgb(169, 229, 243));
}

.board{
    transition: 100ms;
    width: 60vw;
    height: 80vh;
    border-radius: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 4fr 1fr;
    background-color: rgba(250, 138, 1, 0.481);
}

.board:hover{
    transition: 100ms;
    background-color: rgba(250, 138, 1, 0.881);
}

.titulo{ 
    position: absolute;
    text-align: center;
    top: 30px;
    padding:  90px 0 0 0;
}

.gameBoard_container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.centro{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.frutas{
    display: grid;
    font-size: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
}

.pararAudioContainer{
    position: absolute;
    display: flex;
    justify-content: end;
    padding: 20px;
    width: 100vw;
    height: 100px;
}

.pararAudio{
    width: 100px;
    height: 100px;
    background-color: orange;
    border-radius: 40px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
}

#gameBoard{
    display: none;
    width: 100%;
    height: 50vh;
}

.explosion{
    height: 100vh;
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 900;
}

.imagen_exp{
    transform: scale(4);
}


.jugar{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 20vh;
}

.boton{
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 30px;
    width:80px;
    background-color: rgb(57, 197, 29);
    padding: 10px;
    cursor: pointer;
}

.boton:hover{
    background-color: red;
}
tbody{
    height: 10;
}
table {
	border-collapse: collapse;
    display: flex;
    align-items: center;
    justify-content: center;
}

td {
	width: 30px;
    min-width: 30px;
	height: 30px;
	border: 1px solid black;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
}

td.hidden {
	background-color: gray;
	color: gray;
}

td.flagged {
	background-color: orange;
	color: black;
}

