@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins',Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
    background: linear-gradient(rgb(135, 210, 220),rgb(169, 229, 243));
}

.board{
    transition: 100ms;
    width: 60vw;
    height: 80vh;
    border-radius: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    position: absolute;
    grid-template-columns: 1fr 4fr 1fr;
    background-color: #ffbe0b;
    z-index: 450;
}

.board:hover{
    transition: 100ms;
    background-color: #ffbe0b;
}

.titulo{ 
    position: absolute;
    text-align: center;
    font-size: 7vh;
    top: 30px;
    padding:  90px 0 0 0;
}

.gameBoard_container{
    position: absolute;
    background-color: #81d8c8;
    z-index: 300;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.centro{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nube{
    position: absolute;
    transform: scale(0.2);
    z-index: 20;
}
.boton_jugar{
    color: white;
    background-color: rgb(51, 89, 240) !important;
}

.frutas{
    display: grid;
    font-size: 3vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    border-radius: 20px 0 0 20px;
    background-color: #fb5607;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 80vh;
}

.fruta2{
    border-radius: 0 20px 20px 0;
}

.pararAudioContainer{
    position: absolute;
    display: flex;
    justify-content: end;
    padding: 20px;
    z-index: 500;
    width: 100vw;
    height: 100px;
}

.pararAudio{
    width: 5vw;
    height: 5vw;
    background-color: #52b69a;
    font-size: 4vh;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
}

#gameBoard{
    display: none;
    width: 100%;
    height: 50vh;
}

.explosion{
    height: 100vh;
    width: 100vw;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 900;
}

.imagen_exp{
    transform: scale(4);
}

.volver {
    z-index: 5000;
    left: 0vw;
    width: 10vw;
    height: 6vw;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .image_logo2 {
    transition: 200ms;
    width: 10vw;
    height: 6vw;
  }
  
  .image_logo2:hover {
    transition: 200ms;
    cursor: pointer;
  }
.jugar{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 20vh;
}

.boton{
    transition: 100ms;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 30px 0  0;
    height: 5vh;
    width:  500px;
    background-color: #fb5607;
    padding: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
}

.boton:active{
    transition: 100ms;
    transform: scale(0.7)

}

tbody{
    height: 10;
}
table {
	border-collapse: collapse;
    display: flex;
    align-items: center;
    justify-content: center;
}

td {
	width: 30px;
    min-width: 30px;
	height: 30px;
	border: 1px solid black;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
}

td.hidden {
	background-color: gray;
	color: gray;
}

td.flagged {
	background-color: orange;
	color: black;
}

@media only screen and (max-width:1200px){
    .explosion{
        width: 40vw;
    }
    .titulo{
        font-size: 4vh;
    }
    .frutas{
        width: 10vw;
        font-size: 3vh;
    }
    .centro{
        width: 60vw;
    }
    .boton{
        height: 5vh;
        width: 20vw;
        font-size: 3vh;
    }
}
.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 37, 37);
    transition: opacity 0.75s, visibility 0.75s;
    z-index: 1000;
}

.loader-hidden{
    opacity: 0;
    visibility: hidden;
}

.loader::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-radius: 0%;
    border-top-color: #00ffe7;
    animation: loading 0.75s ease infinite;
}

@keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }