*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw; 
    overflow: hidden;
    overflow-x: hidden;
    background: linear-gradient(rgba(30, 16, 30, 1),rgb(106, 55, 106));
}




.titulo_mes_contenedor{
    position: absolute;
    width: 100%;
    height: 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    background-color: #283355;
    z-index: 900;
}

.titulo_mes{
    font-size: 40px;
}
.wrapper_calendario{
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50px;
}

.calendario{
    position: absolute;
    display: flex;
    height: 80vh;
    width: 90vw;
    flex-direction: column;
    z-index: 250;
}

.semana{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    background-color: #53426f;
    color:azure;
    height: 40px;
    width: 100%;
    text-align: center;
}

.mes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    background-color: rgba(145, 89, 142, 0.5);
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.dia{
  /*  outline: 0.2rem solid; */
    transition: 100ms;
    position: relative;
    background-color: rgba(145, 89, 142, 0.6);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    z-index: 300;
}
.dia:active{
    
    transition: 200ms;
    background-color: rgba(255, 169, 202, 1);
    transform: scale(1.3);
    z-index: 310;
}

.botones{
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 200;
}

.boton{
    height: 50px;
    width: 50px;
    background-color: rgba(255, 35, 185, 0.3);
    border-radius: 30%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}



.boton:active{
    transition: 200ms;
    transform: scale(0.8);
}

.boton_container1 {
    position: absolute;
    width: 100%;
    height: 40px;
    padding: 0;
  }
  
  .boton1 {
    position: absolute;
    left: 0;
  }
  
  .boton2 {
    position: absolute;
    right: 0;
  }

  .invisible{
    display: none;
  }

  .modal{
    z-index: 20;
  }
  .modal-content {
    transition: transform 300ms;
    position: fixed;
    border-radius: 12px;
    background-color: rgba(57, 28, 55, 1);
    opacity: 1;
    transform: scale(0);
    z-index: 80;
    height: 300px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
  }
  .mensaje{
    color: black;
  }

  .bien{
    background-color: rgb(64, 240, 108);
    color: black;
  }

  .muymal{
    color: black;
    background-color: rgb(215, 51, 40);
  }

  .mal{
    color: black;
    background-color: rgb(235, 210, 45);
  }

  .volver {
    z-index: 5000;
    left: 0vw;
    width: 13vw;
    height: 6vw;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .image_logo2 {
    transition: 200ms;
    width: 13vw;
    height: 6vw;
  }
  
  .image_logo2:hover {
    transition: 200ms;
    cursor: pointer;
  }
  .loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 37, 37);
    transition: opacity 0.75s, visibility 0.75s;
    z-index: 1000;
}

.loader-hidden{
    opacity: 0;
    visibility: hidden;
}

.loader::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-radius: 0%;
    border-top-color: #00ffe7;
    animation: loading 0.75s ease infinite;
}

@media only screen and (max-width:720px){
    .botones{
      display: none;
    }
    .titulo_mes{
        font-size: 20px;
    }
    
    .calendario{
        transition: 20ms;
        position: absolute;
        display: flex;
        height: 100vh;
        width: 100vw;
        flex-direction: column;
        z-index: 250;
    }
    
    .semana{
        font-size: 10px;
    }
    
    .dia{
        transition: 100ms;
        padding: 0 0 0 0;
    }
}

@media only screen and (max-width: 500px){
  .dia_p{
    position: absolute;
    font-size: 10px;
  }
  .calendario{
    width: 100vw;
    height: 100vh;
  }
}

@keyframes spin {
    from {
     rotate: 0deg;
    }
    to {
      rotate: 360deg;
    }
}