*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #F5E9CF;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}

.logo_container{
    width: 100vw;
    height: 0;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    cursor: pointer;
    transition: 200ms;
    top: 3vh;
    position: fixed;
    z-index: 550;
    width: 24vh;
}
.header{
    position: absolute;
    height: 20vh;
    width: 100vw;
}

.header__container{
    transition: 200ms;
    position: fixed;
    width: 100vw;
    height: 20vh;
    background-color: #27E1C1;
    z-index: 350;
}

.articulo{
    position: absolute;
    width: 100vw;
    height: 100%;
}

.login_container{
    position: fixed;
    z-index: 400;
    top: 5vh;
    left: 5vh;
    background-color: #35af9a;
    z-index: 551;
    border-radius: 5vh;
    width: 15vw;
    height: 10vh;
}

.foto_perfil{
    transition: 200ms;
    opacity: 1;
    position: fixed;
    background-color: blue;
    z-index: 600;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    overflow: hidden;
}

.div_login{
    position: absolute;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 15vw;
    height: 10vh;
}

.p_username{
    font-size: 2.5vh;
    top: 8.5vh;
    left: 6vh;
    position: fixed;
    color: white;
}
.p_login{
    font-size: 2.5vh;
    top: 8.5vh;
    left: 13vw;
    position: fixed;
    color: white;
}

img{
    object-fit: cover;
    object-position: center center;
}
.imagen{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    cursor: pointer;
}

.cuerpo{
    top: 20vh;
    height: 100%;
    width: 100vw;
    position: absolute;
    z-index: 200;

    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
}

.otrosPost{
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.post_container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.none{
    display: none;
}
.post{
    min-height: 30vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 2vh 0 2vh 0;
    padding: 10vh;
    background-color: rgba(39, 225, 193, 0.2);
}

.post:hover{
    transition: 200ms;
    background-color: rgba(39, 225, 193, 1);
}

.usuarioContainer{
    width: 100%;
    display: flex;
    align-items: center;
}

.fechaYhora{
    margin: 0 0 0 1vh;
}

.profile{
    border-radius: 50%;
    margin: 0 1vh 0 0;
    width: 4vh;
    height: 4vh;
}

.nombreUsuarioContainer{
    display: flex;
    align-items: center;
}

.nombreUsuario{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 900;
    font-size: 2vh;
}
.post__imagen{
    width: 60vw;
}
.post__texto{
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.3);
    margin: 0 0 7vh 0;
}
.post__imagen__img{
    border-radius: 2vh;
    width: 100%;
    height: 100%;
    max-height: 60vh;
    object-fit: cover;
    object-position: center center;
    cursor: pointer;
}
.posts{
    
    background-color: #F5E9CF;
}

.postear{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh;
    background-color: transparent;
}
.postear_container{
    height: 30vh;
    width: 73vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2vh;
}
#postear_textarea{
    padding: 2vw;
    border-radius: 2vh;
    font-size: large;
    height: 26vh;
    width: 65vw;
    resize: none;
}
.boton_abrir_imagen{
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 700;
    top: 20vh;
    right: 27vw;
    width: 5vh;
    border-radius: 25%;
    height: 5vh;
}
.boton_abrir_imagen:hover{
    transition: 200ms;
    color: white;
}

.boton_enviar{
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 700;
    top: 25vh;
    right: 27vw;
    width: 5vh;
    border-radius: 25%;
    height: 5vh;
}

.boton_enviar:hover{
    transition: 200ms;
    color: white;
}
.side{
    transition: 0.2s;
    position: fixed;
    right: 0;
    width: 26vw;
    height: 100%;
    z-index: 200;
    background-color: rgba(233,100,121, 0.5);
}

.bars_container{
    position: fixed;
    cursor: pointer;
    z-index: 777;
    right: 6vw;
    top: 8vh;
    font-size: 4vh;
  }


@media only screen and (max-width: 1600px){

    .bars_container{
        top: 1vh;
    }
    .header__container{
        height: 8vh;
    }
    .logo{
        top: 0;
        width: 13.5vh;
    }
    .login_container{
        top: 1vh;
        width: 15vw;
        height: 6vh;
    }
    .p_username{
        top: 3vh;
        left: 4.3vw;
        font-size: 1.6vh;
    }
    .p_login{
        top: 3vh;
        left: 15vw;
        font-size: 1.6vh;
    }
    .foto_perfil{
        width: 6vh;
        height: 6vh;
        
    }
    
    .cuerpo{
        top: 8vh;
    }
}

.draganddrop_container{
    display: none;
    z-index: 1000;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(10, 10, 10, 0.8);
}

.draganddrop {
    width: 50vw;
    height: 60vh;
    border: 2px dashed white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .text {
    font-size: 24px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .fileinput {
    display: flex;
    color: white;
  }

  .volver {
    z-index: 5000;
    left: 0vw;
    width: 10vw;
    height: 6vw;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .image_logo2 {
    transition: 200ms;
    width: 13vw;
    height: 6vw;
  }
  
  .image_logo2:hover {
    transition: 200ms;
    cursor: pointer;
  }
  .loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 37, 37);
    transition: opacity 0.75s, visibility 0.75s;
    z-index: 1000;
}

.loader-hidden{
    opacity: 0;
    visibility: hidden;
}

.loader::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-radius: 0%;
    border-top-color: #00ffe7;
    animation: loading 0.75s ease infinite;
}


@keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }
  [alt='www.000webhost.com']{
    display: none;
}