*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(13, 13, 13);
}
img{
    object-fit: cover;
    object-position: center center;
}
.fondo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.profile_pic{
    cursor: pointer;
    width: 8vh;
    height: 8vh;
}
.image_edit{
    opacity: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    top: 14.4vh;
    right: 48vw;
    border-radius: 50%;
    width: 8vh;
    height: 8vh;
    background-color: #d6d6d6;
    position: absolute;
    z-index: 600;
}
.image_edit:hover{
    transition: 200ms;
    opacity: 0.8;
}

.editar{
    width: 30vw;
    height: 80vh;
    border-radius: 20px;
    background-color: #27E1C1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 2.5fr;
    padding: 0px;
}
.contenedor{
    text-align: center;
    display: flex;
    width: 30vw;
    justify-content: center;
    align-items: center;
    border-bottom-style: dashed;
    border-bottom-width: 2px;
    border-bottom-color: #005646;
}
.puntos_section{
    border-bottom-width: 0;
}

.contimg{
    margin: 1vh 0 0 0;
}

.contenido{
    height: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

label{
    color: rgb(49, 49, 49);
}

.edit_button{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    top: 30vh;
    right: 38vw;
    width: 4vh;
    border-radius: 50%;
    height: 4vh;
    background-color: #005646;
    position: absolute;
    z-index: 600;
}

.volver {
    z-index: 5000;
    left: 0vw;
    width: 10vw;
    height: 6vw;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .image_logo2 {
    transition: 200ms;
    width: 13vw;
    height: 6vw;
  }
  
  .image_logo2:hover {
    transition: 200ms;
    cursor: pointer;
  }
  .loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 37, 37);
    transition: opacity 0.75s, visibility 0.75s;
    z-index: 1000;
}

.loader-hidden{
    opacity: 0;
    visibility: hidden;
}

.loader::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-radius: 0%;
    border-top-color: #00ffe7;
    animation: loading 0.75s ease infinite;
}
.puntos{
    border-radius: 10px;
    font-size: 30px;
    background: rgb(22, 22, 91);
    color: rgb(255, 255, 255);
  }
.draganddrop_container{
    display: none;
    z-index: 1000;
    position: fixed;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(10, 10, 10, 0.8);
}

.draganddrop {
    width: 50vw;
    height: 60vh;
    border: 2px dashed white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text {
    font-size: 24px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .fileinput {
    display: flex;
    color: white;
  }

@keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }
  [alt='www.000webhost.com']{
    display: none;
}