*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: rgb(37, 37, 37);
}

#image-track{
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%);
}

.imagen{
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% 50%;
  cursor: pointer;
}
img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  }

.buscaminas:active{
  transition: 800ms;
}

.volver {
    z-index: 500;
    width: 80px;
    height: 40px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image_logo2 {
    transition: 200ms;
    width: 80px;
    height: 40px;
  }
  
  .image_logo2:hover {
    transition: 200ms;
    transform: translateX(60px) translateY(40px) scale(3);
    cursor: pointer;
  }
  .loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 37, 37);
    transition: opacity 0.75s, visibility 0.75s;
    z-index: 1000;
}

.loader-hidden{
    opacity: 0;
    visibility: hidden;
}

.loader::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-radius: 0%;
    border-top-color: #00ffe7;
    animation: loading 0.75s ease infinite;
}
@keyframes loading {
    from {
      transform: rotate(0turn);
    }
    to {
      transform: rotate(1turn);
    }
  }
  [alt='www.000webhost.com']{
    display: none;
}