*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: blue;
    padding: 0 0 0 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.fondo{
    height: 100vh;
    width: 100vw;
    margin-top: 300vh;
    padding: 0;
    background: linear-gradient(rgb(19, 10, 19),rgb(30, 16, 30), rgb(113, 46, 116),rgb(237, 140, 49) ,rgb(31, 133, 223),rgb(31, 133, 223), rgb(31, 133, 223));
    position: absolute;
    transform: scale(10);
   
    animation: spin 9s linear infinite;
    z-index: 1;
}

.fondo:active{
    rotate: -360deg;
    /*transform-origin: center;*/
}

.ciclos{
    height: 200vh;
    width: 100vw;
    position: absolute;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2;
    text-align: center;
    font-size: 200px;
    z-index: 20;

    animation: spin 9s linear infinite;
}

.dia{
    display: flex;
    align-items:end;
    justify-content: center;
}


.sol_imagen{
    padding: 20px;
    border-radius: 50%;
}

.form__container{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: rgb(57, 43, 24);*/
}

.form{
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: red;
    width: 300px;
    height: 500px;
}
.form__div1{
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

.form__div1__div2{
    padding: 30px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
}

.form__div1__div2__div2{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

/*.form__container:active{
    background-image: url(../media/dedooo.webp);
    background-size: cover;
}*/

.volver {
    z-index: 500;
    width: 80px;
    height: 40px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .image_logo2 {
    transition: 200ms;
    width: 80px;
    height: 40px;
  }
  
  .image_logo2:hover {
    transition: 200ms;
    transform: translateX(60px) translateY(40px) scale(3);
    cursor: pointer;
  }
  
  .image_logo2:active {
    transform: scale(2.4) translateX(20px) translateY(10px);
  }

@media only screen and (max-width:2100px){
    
    .fondo{
        transition: 200ms;
        transform: scale(15);
    }
}


@keyframes spin {
    from {
     rotate: 0deg;
    }
    to {
      rotate: 360deg;
    }
  }
  