*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --purple: #00ffe7;
    --violet:  #0088ff;
    --pink: #2733e1;
  }

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(37, 37, 37);
    color: white;
    padding: 0%;
    margin: 0;
    height: auto;
}

.article__div{
 position: fixed;
 width: 100%;
 height: 100vh;
 opacity: 30%;
 overflow:hidden;
 z-index: -1;
}
.bubbles
{
    position: absolute;
    display: flex;
}

.bubbles span
{
    position: relative;
    width: 30px;
    height: 30px;
    background-color: #2733e1;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 10px #4fc3dc44,
    0 0 50px #2733e1,
    0 0 100px #2733e1;
    animation: bubbleanimation 100s linear infinite;
    animation-duration: calc(125s / var(--i));
}

.bubbles span:nth-child(even)
{
    background: #00ffe7;
    box-shadow: 0 0 0 10px #4fc3dc44,
    0 0 50px #00ffe7,
    0 0 100px #00ffe7
}

.bubbles span:hover {
    background-color: #fff;
    box-shadow: 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc, 0 0 150px #4fc3dc;
  }
  
  .bubbles span:hover:nth-child(even) {
    background: #ff2d75;
    box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #ff2d75, 0 0 100px #ff2d75, 0 0 150px #ff2d75;
  }

@keyframes bubbleanimation
{
    0%
    {
        transform: translateY(100vh) scale(0);
    }
    100%
    {
        transform: translateY(-10vh) scale(1);
    }
}

.image_container{
    transition: 1s;
    width: 80px;
    height: 40px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.article__section__2{
    background-color: rgba(0, 0, 0, 0.2);
}

.article__section__h1{
    margin: 20px 0 0 0;
}

.image_container2{
    transition: 1s;
    width: 100%;
    height: 340px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.image_logo2 {
    --s: 250px;   
    --b: 8px;    
    --g: 14px;    
    --c: #4ECDC4; 
    
    width: var(--s);
    aspect-ratio: 1;
    outline: calc(var(--s)/2) solid rgba(249, 255, 247, 0.6);
    outline-offset: calc(var(--s)/-2);
    cursor: pointer;
    transition: 0.3s;
  }
.image_logo2:hover {
    outline: var(--b) solid var(--c);
    outline-offset: var(--g);
  }

.image_logo{
    transition: 200ms;
    height: 40px;
    width: 80px;
    z-index: 200;
    position: fixed;
}

.image_logo2{
    transition: 200ms;
    height: 120px;
    width: 200px;
    z-index: 200;
    position: fixed;
    display: flex;
    margin: auto;
}

.sticky__header{
    position: relative;
    background-color: #ccc;
    height: 40px;
    top: 0;
    position: sticky;
    transition: 800ms;
    z-index: 0;
}

.header{
    position: relative;
    background-color: #F5F3C1;
    height: 340px;
    transition: 200ms;
    z-index: 0;
}

.header__container__foto{
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
    z-index: 10;
}

.fotoPetit{
    height: 0;
    transition:1s;
}
@keyframes background-pan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -200% center;
    }
}

h1 {
    color: white;
    padding: 20px;
    text-align: center;
}

.magic {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
        to right,
        var(--pink),
        var(--violet),
        var(--purple),
        var(--pink)
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
}
.header__ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 20px;
    height: 40px;
    background-color: #27E1C1;
    z-index: 10;
  }
  

.header__div{
    transition: 0.1s;
    background-color: #27E1C1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 100px 0 100px;
    border-radius: 20px;
    z-index: 15;
    height: 30px;
    
}

.header__div:hover{
    background-color: #2733e1;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 15;
}

.header__div__ol{
    padding: 0 0 0 0;
}

.article__section__div{
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    grid-template-rows: 0.1fr 1fr;
}

.article__section__div__2{
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    grid-template-rows: 0.1fr 1fr ;
}

.article__section__div__h2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin: 0;
    padding: 40px 0 0 0;
}

.article__section__imgcontainer{
    display: flex;
    margin: auto;
}

.article__section__imgcontainer__2{
    display: flex;
    margin: auto;
}

.article__section__img{
    /*animation-name: mover_dentro_izq;*/
    animation-duration: 3s;
    transition: 0.2;
    width: 300px;
    height: 210px;
    border-radius: 20px;
    display: flex;
}

.article__section__img:hover{
    transition: 0.2s;
    width: 390px;
    height: 280px;
}

.article__section__img__2{
    /*animation-name: mover_dentro_der;*/
    animation-duration: 3s;
    transition: 0.2;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.article__section__img__2:hover{
    transition: 0.2s;
    width: 390px;
    height: 270px;
}

.article__section__p{
    text-align: justify;
    padding: 70px;
}

.article__section__p:hover{
    transition: 200ms;
    background-color: rgba(0,0,0,0.8);
    border-radius: 20px;
}

.footer{
    background-color: #27e1a9;
    margin: 0 0 0 0;
    height: 50px;
}

.footer__div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    margin: auto;
}

.footer__div__p{
    margin: auto;
}


.footer__button{
    background-color: #27e1a9;
    height: 50px;
    border: 0;
}

.footer__button:hover{
    background-color: #27c8e1;
}

.iconos{
    margin: auto;
}

i{
    margin: auto;
}

@media only screen and (max-width:1200px){
    .header__div{
        transition: 0.2s;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 10px 0 10px;
    }
}

@media only screen and (max-width:860px){
    .image_container{
        transition: 1s;
        width: 80px;
        height: 120px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header__ul{
        background-color: #27e1a9;
        
    }
    
    .header__div:hover{
        background-color: #2733e1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .article__section__div{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.7fr 1fr;
    }

    .article__section__div__2{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 0.7fr 1fr;
        grid-column-end: auto;
    }

    .footer__div__p{
        margin: auto;
        font-size: 10px;
    }
}

.animate {
    animation-duration: 1s;
  animation-fill-mode: forwards;
    animation-name: mover_dentro_der, mover_dentro_izq;
}

@keyframes mover_dentro_der {
    from{
        transform: translateX(500px)
    }
    to{
        transform:translateX(0)
    }
}

@keyframes mover_dentro_izq {
    from{
        transform: translateX(-500px)
    }
    to{
        transform:translateX(0)
    }
}

::-webkit-scrollbar
{
    width: 0;
}

#scrollPath
{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255, 255, 255,0.05);
}
#progressbar{
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: animate 5s linear infinite;
}
@keyframes animate{
    0%,100%
    {
        filter: hue-rotate(0deg);
    }
    50%
    {
        filter: hue-rotate(360deg);
    }
}

@keyframes animate2{
    0%
    {
        width: 0px;
        height: 0px;
    }
    100%{
        width: 50px;
        height: 50px;
    }
}

#progressbar:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(10px);
}

#progressbar:after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
}

[alt='www.000webhost.com']{
    display: none;
}

.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(37, 37, 37);
    transition: opacity 0.75s, visibility 0.75s;
    z-index: 1000;
}

.loader-hidden{
    opacity: 0;
    visibility: hidden;
}

.loader::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #dddddd;
    border-radius: 0%;
    border-top-color: #00ffe7;
    animation: loading 0.75s ease infinite;
}

@keyframes loading{
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn)
    }
}